:root {
  --ff-primary: "Hanken Grotesk", serif;
  --fw-medium-500: 500;
  --fw-bold-700: 700;
  --fw-extrabold-800: 800;

  /* primary color */
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-orange-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-cobalt-blue: hsl(234, 85%, 45%);

  /* gardients color */
  --bg-light-slate-blue: hsl(252, 100%, 67%);
  --bg-light-royal-blue: hsl(241, 81%, 54%);

  --circle-violet-blue: hsla(256, 72%, 46%, 1);
  --circle-persian-blue: hsla(241, 72%, 46%, 0);

  /* neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-dark-gray-blue: hsl(224, 30%, 27%);
}

/* reset css */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.2;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* ============================================ */
.reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.05);
}

.memory {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.05);
}

.verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.05);
}

.visual {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.05);
}

body {
  font-family: var(--ff-primary);
  font-size: 1.125rem;

  background-color: var(--clr-pale-blue);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card__container {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
}

.result__section {
  background-image: linear-gradient(
    var(--bg-light-slate-blue),
    var(--bg-light-royal-blue)
  );
  padding: 2rem 3rem 2.5rem;
  border-radius: 0 0 2rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  color: var(--clr-light-lavender);
}

.result__section-title {
  font-size: 1.125rem;
}

.result__section-value {
  height: 150px;
  width: 150px;
  border-radius: 50%;

  background-image: linear-gradient(
    var(--circle-violet-blue),
    var(--circle-persian-blue)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.real-value {
  font-size: 3.5rem;
  font-weight: var(--fw-extrabold-800);
  color: var(--clr-white);
}

.maximum-value,
.short-description {
  font-size: 1rem;
}

.maximum-value {
  font-weight: var(--fw-medium-500);
  opacity: 0.5;
}

.result__section-description h2 {
  color: var(--clr-white);
  font-weight: var(--fw-medium-500);
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.summary__section {
  padding: 2rem;
}

.summary__section h2 {
  font-size: 1.125rem;
}

.summary__section-lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 1.5rem 0;
}

.summary__section-lists-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border-radius: 0.5rem;
}

.summary__section-lists-item-title {
  display: flex;
  gap: 0.5rem;
}

.summary__section-lists-item-title h3 {
  font-size: 1rem;
}

.summary__section-lists-item-value {
  font-size: 1rem;
  color: var(--clr-dark-gray-blue);
  font-weight: var(--fw-bold-700);
}

.max-score {
  opacity: 0.5;
}

.continue {
  width: 100%;
  border: none;
  background-color: var(--clr-dark-gray-blue);
  color: var(--clr-white);
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.continue:hover {
  background-image: linear-gradient(
    var(--bg-light-slate-blue),
    var(--bg-light-royal-blue)
  );
}

@media (min-width: 768px) {
  .card__container {
    flex-direction: row;
    max-width: 750px;
    border-radius: 2rem;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  }

  .card {
    flex-basis: 50%;
  }

  .result__section-title {
    font-size: 1.5rem;
  }

  .result__section-value {
    width: 200px;
    height: 200px;
  }

  .result__section {
    border-radius: 2rem;
    gap: 2rem;
    padding: 3rem 4rem;
  }

  .real-value {
    font-size: 5rem;
  }

  .maximum-value {
    font-size: 1.2rem;
  }

  .result__section-description h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .short-description {
    font-size: 1.125rem;
  }

  .summary__section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .summary__section h2 {
    font-size: 1.5rem;
  }
}
